# Виртуальное окружение
venv/
env/
ENV/

# Файлы базы данных
*.db
*.sqlite3

# Папки с временными файлами
media/
cache/
__pycache__/
*.pyc

# Файлы окружения
.env
*.env

# Логи
*.log

# IDE
.vscode/
.idea/